.header {
  display: flex;
  border-bottom: 1px solid #d5d8dd;
  padding: 8px 16px;
  height: 48px;
  box-sizing: border-box;
  justify-content: space-between;

  &__block {
    display: flex;
    align-items: center;
    
  }

  &__search-avatar-set {
    display: flex;
    gap: 8px;
  }

  &__search {
    display: flex;
    border: 1px solid #d5d8dd;
    border-radius: 4px;
    width: 296px;
    padding: 0 8px;
    box-sizing: border-box;
    align-items: center;
    gap: 4px;
    margin-right: 8px;
  }

  &__form, &__input {
    height: 100%;
    width: 100%;
  }

  &__input {
    border: none;
  }

  &__input:focus {
    outline: none;
  }

  &__search-icon {
  }


  &__user {
    border: none;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }

  &__username {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #2e3238;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &__setup-button {
    border: 1px solid #d5d8dd;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}