*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: inherit;
  cursor: pointer;
}

.text-style_first {
  font-family: "Open Sans", sans-serif;
}
.text-style_second {
  font-family: "Montserrat", sans-serif;
}
.text-style_third {
  font-family: "Inter", sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}